* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #4e51e2;
    border-bottom: 10px solid #48454560;
    padding: 16px 0 ;
    display: flex;
    color: #ffffff9f;
    justify-content: center;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8dce5;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px; 
}

input,
button{
    padding: 8px;
}

button{
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor:pointer;
}

#botao-cancelar {
    background-color: #d00808;
}